@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

table.userlist {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.userlist td,
table.userlist th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.text-grey {
  color: #A0A0A0;
}

.text-profile-display {
  color: #4e4e4e;
  font-size: 1.5rem;
}

/* .modal-color {
  color: #FAFAFA
} */

.modal-color {
  --tw-bg-opacity: 1;
  background-color: #FAFAFA;
}

.modal-logo {
  margin-left:7rem;
  /* margin-bottom: 4rem; */
}

.modal-sender {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.mybalance {
  font-size: 3.2rem;
  color: #4DC0B9;
}

main {
  background-color: #FAFAFA;
}

input#amount {
  padding-left: 29px;
}